/*Default styling is for mobile and then the media query is set for desktop*/

body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/* Navbar and logo section */
.navbar {
  border-bottom: 3px solid #F16630;
}

.logo {
  margin: 0 auto;
}

/* End of Navbar and logo section  */

/* Our Team section  */
.ourTeam {
  padding: 3% 5%;
  background-color: #F7F7F7;
}

.title {
  text-align: center;
}

.aboutUs {
  margin-top: 2%;
}
/* End of our team section  */

/* Cards section  */
.cards {
  background-color: #ffffff;
  margin-bottom: 15%;
}

.cards > img {
  width: 100%;
  padding: 0 auto;
}

.cardText {
  display: block;
  text-align: center;
}

.text > h1  {
  color: #F16630;
}

.text > hr {
  border-color: #F16630;
}

/* End of cards section  */

/* Footer section  */
.footer {
  text-align: center;
}
/* End of footer section  */

@media only screen and (min-width: 600px) {
    /* Logo section  */
  .logo {
    margin: 0;
    width: 10%;
  }
    /* End of logo section  */

  /* Main section  */
  .mainSection {
    background-color: #F7F7F7;
    padding: 3% 5%;
  }

  /* Individual card section  */
  .cards {
    display: grid;
    display: flex;
    grid-template-columns: 33% 33% 33%;
    margin: 3%;
  }

  .cards > img {
    padding: 5% 0 5% 3%;
    height: 100%;
    width: 70%;
  }

  .cardText {
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: left;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 75%;
  }

  .cardText > h3 {
    font-size: 60%;
  }

  .cardText > hr {
    width: 90%;
    margin-left: 0;
  }

  .button {
    position: relative;
    bottom: 0;
  }

  /* End of indivual card section */

  /* Card container section  */
    .cardContainer {
      display: grid;
      grid-template-columns: auto auto;  /* grid has two columns; content defines width */
      justify-content: space-between;    /* horizontal alignment of grid tracks */
      align-content: space-between;      /* vertical alignment of grid tracks */
    }
  /* end of card container section  */


  /* End of main section  */

  /* Footer section  */
  .footer {
    text-align: right;
    background-color: #ffffff;
  }
  /* End of footer section  */

}
